<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner inner-bg8">
    <div class="container">
        <div class="inner-title">
            <h3>Courses</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevrons-right'></i></li>
                <li>Courses</li>
            </ul>
        </div>
    </div>
</div>

<section class="service-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center">
            <span>Courses</span>
            <h2>LIST OF ONLINE TRAINING COURSES</h2>
            <p>Course Divisions</p>
        </div>

        <div class="row pt-45">
            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/service-details"><img src="assets/img/full.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/service-details"><h3>Full Stack Web Developer</h3></a>
                        <p>Full Stack MERN developer </p>
                        <p>Full Stack MEAN developer </p>
                        <p>Full Stack .NET core with Angular </p>
                        <a routerLink="/service-details" class=""><i class=''></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/service-details"><img src="assets/img/mob.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/service-details"><h3>Front End Developer</h3></a>
                        <p>Front End Angular Developer</p>
                        <p>Front End ReactJS Developer</p>
                        <a routerLink="/service-details" class=""><i class=''></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/service-details"><img src="assets/img/science.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/service-details"><h3>Data Science and Machine Learning Engineer</h3></a>
                        <p>Data Analyst with Tableau</p>
                        <p>Machine Learning Associate</p>
                        <p>Machine Learning Expert</p>
                        <a routerLink="/service-details" class=""><i class=''></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/service-details"><img src="assets/img/vbz.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/service-details"><h3>Microsoft Power Platform Consultant</h3></a>
                        <p>Microsoft Power platform with dynamic 365</p>
                        <a routerLink="/service-details" class=""><i class=''></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/service-details"><img src="assets/img/rvs.jpg" alt="Service Images"></a>
                    
                    <div class="service-content">
                        <a routerLink="/service-details"><h3>DevOps Cloud Engineer</h3></a>
                        <p>Devops Cloud Engineer</p>
                        <a routerLink="/service-details" class=""><i class=''></i></a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <a routerLink="/service-details"><img src="assets/img/service/service6.jpg" alt="Service Images"></a>

                    <div class="service-content">
                        <a routerLink="/service-details"><h3>Brochure Design</h3></a>
                        <p>Lorem ipsum dolor sit amet, consect is etur adipiscing elit, sed do eiusmo gd  tempor incididunt ut labore.</p>
                        <a routerLink="/service-details" class=""><i class=''></i></a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<app-footer-style-two></app-footer-style-two>