<footer class="footer-area">
    <div class="container">
        <div class="footer-contact">
            <div class="newsleter-area">
                <h2>Subscribe Our Newsletter</h2>
                
                <form class="newsletter-form">
                    <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL">
                    <button class="subscribe-btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>

        <div class="footer-top-list pb-70">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <!-- <div class="footer-list">
                        <h3>Courses</h3>

                        <ul>
                            <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Full stack web developer
                            </a></li>
                            <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Front End developer
                            </a></li>
                            <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Data science and Machine learning Engineer
                            </a></li>
                            <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Microsoft power platform consultant
                            </a></li>
                            <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">DevOps cloud Engineer
                            </a></li>
                             <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">CD-DVD Covers</a></li> 
                        </ul>
                    </div> -->
                </div>
                
                <div class="footer-top-list pb-70">
                    <div class="row">
                        
                        <div class="col-lg-4 col-md-4">
                            
                            <div class="footer-list">
                                <!-- <h3>Courses</h3> -->
                                <ul class="social-bottom">
                                    <br><br>
                                    <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>Facebook</li>
                                    <!-- <p>facebook</p> -->
                                    <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>Twitter</li>
                                    <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>Instagram</li>
                                </ul>
        
                                <!-- <ul>
                                    <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Full stack web developer
                                    </a></li>
                                    <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Front End developer
                                    </a></li>
                                    <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Data science and Machine learning Engineer
                                    </a></li>
                                    <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Microsoft power platform consultant
                                    </a></li>
                                    <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">DevOps cloud Engineer
                                    </a></li>
                                     <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">CD-DVD Covers</a></li> 
                                </ul> -->
                            </div>
                        </div>
        
                        <div class="col-lg-3 col-md-3">
                            <div class="footer-list">
        
                                 <h3>Quick Links</h3>
                                <ul>
                                    <li><i class='bx bxs-chevron-right'></i><a routerLink="/index">Home</a></li>
                                    <li><i class='bx bxs-chevron-right'></i><a routerLink="/services">Courses</a></li>
                                    <li><i class='bx bxs-chevron-right'></i><a routerLink="/about">About Us</a></li>
                                    <!-- <li><i class='bx bxs-chevron-right'></i><a routerLink="/testimonial">Testimonial</a></li> 
                                    <li><i class='bx bxs-chevron-right'></i><a routerLink="/blog">Blog</a></li>  -->
                                    <li><i class='bx bxs-chevron-right'></i><a routerLink="/contact">Contact</a></li>
                                </ul> 
                            </div>
                        </div>
        
                        <div class="col-lg-5 col-md-5">
                            <div class="footer-side-list">
                                <h3>Contact Us</h3>
        
                                <ul>
                                    <li><i class='bx bxs-phone'></i> <a href="tel:+11234567891">+91 8807685351</a></li>
                                    <!-- <li><i class='bx bxs-phone'></i> <a href="tel:+19876543210">+1  9876 543 210</a></li> -->
                                    <li><i class='bx bxl-telegram'></i> <a href="mailto:email@dizo.com">hr@frankmax.academy</a></li>
                                    <!-- <li><i class='bx bxl-telegram'></i> <a href="mailto:hello@dizo.com">hello@dizo.com</a></li> -->
                                    <li ><i class='bx bxs-map'></i>  
                                        <div style="margin-left: 50px;margin-top :-30px">
                                         5/223B,Level 1,
                                        Marthandam  Road,Karungal, 
                                        Kanyakumari Dt-629157,
                                        Tamil Nadu, India
                                    </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-3">
                    <div class="footer-logo">
                        <img src="assets/img/mmmmmmmmmmmmmmmmmmm.png" alt="Footer Logo">
                    </div>
                </div> 

                <div class="col-lg-8 col-md-9">
                    <div class="bottom-text">
                        <p>Copyright @2021 Frankmax Digital. All Rights Reserved by <a href="https://hibootstrap.com/" target="_blank">frankmax.digital</a></p>
                        <ul class="social-bottom">
                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>